        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
        }
        .sidebar {
            width: 30%;
            background-color: #2E3C43;
            color: white;
            padding: 20px;
            height: 100vh;
            font-size: 15px
        }
        .content {
            width: 70%;
            padding: 40px;
        }
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 20px;
            margin-top: 20px;
        }

        p, a {
            font-size: 20 px;
            color: #000000;
            text-decoration: none;

        }
        span {
            font-size: 20 px;
            color: darkgray;
        }
        
        .sidebar p, a {
            color: #ddd;
            display: block;
            margin-top: 5px;
        }


 
